<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="my-3">
        <div class="fa-solid fa-stethoscope">
            <span style="margin-left: 24px;">Pemeriksaan Balita</span>
        </div>
    </div>

    <ng-container *ngIf="checkAddEditAccess()">
        <ng-container *ngIf="showSuccessMessage">
            <div class="py-2 px-4 m-4 bg-success bg-gradient text-white" style="border-radius: 8px;">{{successMessage}}</div>
        </ng-container>

        <div class="mb-4 text-align-last-right">
            <button class="btn btn-primary" (click)="openDialogAddEditCheckup()">Tambah Pemeriksaan</button>
        </div>
    </ng-container>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Nama Balita</th>
                <ng-container *ngIf="checkAddEditAccess()">
                    <th>Nama Orang Tua</th>
                </ng-container>
                <th>Umur Balita (bulan)</th>
                <th>Tanggal Pemeriksaan</th>
                <th>Tanggal Pemeriksaan Berikutnya</th>
                <th>Tinggi Badan (cm)</th>
                <th>Berat Badan (kg)</th>
                <th>Lingkar Kepala (cm)</th>
                <th>Lingkar Lengan (cm)</th>
                <th>Catatan</th>
                <ng-container *ngIf="checkAddEditAccess()">
                    <th></th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let checkup of allCheckup">
                <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-bold mb-1">{{checkup.namaBalita}}</p>
                    </div>
                </td>
                <ng-container *ngIf="checkAddEditAccess()">
                    <td>
                        <p class="fw-normal mb-1">{{checkup.namaOrangTua}}</p>
                    </td>
                </ng-container>
                <td>
                    <p class="fw-normal mb-1">{{checkup.umurBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.tanggalCheckup | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.tanggalCheckupBerikutnya | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.tinggiBadan}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.beratBadan}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.lingkarKepala}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.lingkarLengan}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{checkup.catatan}}</p>
                </td>
                <ng-container *ngIf="checkAddEditAccess()">
                    <td class="">
                        <button type="button" 
                                class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square"
                                (click)="openDialogAddEditCheckup(checkup)">
                        </button>
                        <button type="button" 
                                class="btn btn-link btn-sm btn-rounded fa-solid fa-trash"
                                (click)="openDialogDeleteCheckup(checkup.idCheckup)"
                                data-mdb-target="#exampleModal"
                                data-mdb-whatever="checkup">
                        </button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>