<div class="my-3">
  <div class="fa-solid fa-user">
    <span style="margin-left: 24px;">Profil</span>
  </div>
</div>

<ng-container *ngIf="showSuccessMessage">
  <div class="py-2 px-4 m-4 bg-success bg-gradient text-white" style="border-radius: 8px;">Data berhasil disimpan.</div>
</ng-container>

<div class="border m-4 p-4" style="border-radius: 8px;">
  <div class="row mb-3">
    <div class="col-sm-4">Nama</div>
    <div class="col-sm-8">{{user.namaUser}}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">NIK</div>
    <div class="col-sm-8">{{user.nikUser}}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">Tanggal Lahir</div>
    <div class="col-sm-8">{{user.tanggalLahirUser | date:'dd-MM-yyyy'}}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">Alamat</div>
    <div class="col-sm-8">{{user.alamatUser}}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">Nomor Telepon</div>
    <div class="col-sm-8">{{user.noTeleponUser}}</div>
  </div>
  <div class="row mb-3">
    <div class="col-sm-4">Tipe Pengguna</div>
    <div class="col-sm-8">{{userType}}</div>
  </div>
</div>

<div class="mb-4 text-align-last-right">
  <button class="btn btn-primary" (click)="openDialogEditProfile(user)">Ubah Profil</button>
</div>