<div class="p-4 grid-container">
    <div class="col-sm-7"></div>
    <div class="col-sm-5 border border-style">
      <div class="mb-3">
        <h5>Sign In</h5>
      </div>

      <div class="mb-3">
        <label for="field-email" class="form-label">Email</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="field-email"
                 placeholder="Masukan email Anda">
        </div>
      </div>

      <div class="mb-3">
        <label for="field-password" class="form-label">Password</label>
        <div class="input-group">
          <input type="password"
                 class="form-control"
                 id="field-password"
                 placeholder="Masukan password">
        </div>
      </div>
      <div class="text-end mb-3">
        <a href="#">Forgot password?</a>
      </div>
      <div class="text-align-last-center">
        <button type="submit" class="btnLogin">Login</button>
      </div>

    </div>
</div>

