<div class="p-4 grid-container">
    <div class="col-sm-7"></div>
    <div class="col-sm-5 border sign-in-style">
      <div class="mb-3">
        <h5>Masuk</h5>
      </div>

      <div class="mb-3">
        <label for="field-email" class="form-label">Email</label>
        <div class="input-group">
          <input type="text"
                 class="form-control"
                 id="field-email"
                 placeholder="Masukan email Anda">
        </div>
      </div>

      <div class="mb-3">
        <label for="field-password" class="form-label">Kata Sandi</label>
        <div class="input-group">
          <input type="password"
                 class="form-control"
                 id="field-password"
                 placeholder="Masukan kata sandi">
        </div>
      </div>
      <div class="text-end mb-3">
        <a href="#">Lupa Kata Sandi?</a>
      </div>
      <div class="text-align-last-center">
        <button type="submit" class="btnLogin" (click)="onSubmit()">Masuk</button>
      </div>

    </div>
</div>

