.grid-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  background-color: white;
}

.text-align-last-center {
  text-align-last: center;
}

.sign-in-style {
  border-radius: 8px;
  padding: 36px;
  background-color: white;
}

// .btnLogin {
//   background-color: #AACB73;
//   font-weight: bold;
//   color: white;
//   padding: 8px 20px;
//   margin: 8px 0;
//   border: none;
//   cursor: pointer;
//   width: 100%;
//   border-radius: 8px;
// }

// .btnLogin:hover {
//   opacity: 0.8;
// }
