<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
        <button type="button" class="btn-close" aria-label="Close" (click)="modalRef.close()"></button>
    </div>
    <div class="modal-body text-align-last-center">
        <form [formGroup]="validationForm">
            <div class="row">
                <div class="mb-32px">
                    <ng-container *ngIf="imunisasi !== undefined">
                        <div class="row" style="text-align-last: start;">
                            <div class="col-md-6">NIK Balita : {{imunisasi!.nikBalita}}</div>
                            <div class="col-md-6">Nama Balita : {{imunisasi!.namaBalita}}</div>
                        </div>
                    </ng-container>

                    <ng-container *ngIf="imunisasi === undefined">
                        <mdb-form-control>
                            <input mdbValidate mdbInput type="text" id="NIKField" class="form-control"
                                formControlName="nik" 
                                pattern="[0-9]+" required />
                            <label mdbLabel class="form-label" for="NIKField">NIK Balita</label>
                            <mdb-error *ngIf="nik?.invalid && (nik?.dirty || nik?.touched)">
                                NIK Balita wajib diisi angka
                            </mdb-error>
                        </mdb-form-control>
                    </ng-container>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 mb-32px">
                    <mdb-form-control>
                        <input mdbValidate mdbInput type="text" id="imunisasiNameField" class="form-control"
                            formControlName="imunisasiName" required />
                        <label mdbLabel class="form-label" for="imunisasiNameField">Nama Imunisasi</label>
                        <mdb-error *ngIf="imunisasiName?.invalid && (imunisasiName?.dirty || imunisasiName?.touched)">
                            Nama Imunisasi wajib diisi
                        </mdb-error>
                    </mdb-form-control>
                </div>
                <div class="col-md-6 mb-32px">
                    <mdb-form-control>
                        <input mdbValidate mdbInput type="text" id="notesField" class="form-control"
                            formControlName="notes" />
                        <label mdbLabel class="form-label" for="notesField">Catatan</label>
                    </mdb-form-control>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6 mb-32px">
                    <mdb-form-control>
                        <input mdbValidate mdbInput type="date" placeholder="dd-mm-yyyy" id="imunisasiDateField"
                            class="form-control" formControlName="imunisasiDate" [(ngModel)]="selectedImunisasiDate"
                            required />
                        <label mdbLabel class="form-label" for="imunisasiDateField">Tanggal Imunisasi</label>
                        <mdb-error *ngIf="imunisasiDate?.invalid && (imunisasiDate?.dirty || imunisasiDate?.touched)">
                            Tanggal Imunisasi wajib diisi
                        </mdb-error>
                    </mdb-form-control>
                </div>
                <div class="col-md-6 mb-32px">
                    <mdb-form-control>
                        <input mdbValidate mdbInput type="date" placeholder="dd-mm-yyyy" id="nextImunisasiDateField"
                            class="form-control" formControlName="nextImunisasiDate"
                            [(ngModel)]="selectedNextImunisasiDate" required />
                        <label mdbLabel class="form-label" for="nextImunisasiDateField">Tgl Imunisasi
                            Selanjutnya</label>
                        <mdb-error
                            *ngIf="nextImunisasiDate?.invalid && (nextImunisasiDate?.dirty || nextImunisasiDate?.touched)">
                            Tanggal Imunisasi Selanjutnya wajib diisi
                        </mdb-error>
                    </mdb-form-control>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
            Batal
        </button>
        <button type="button" class="btn btn-primary" (click)="onSubmit()"
            [disabled]="validationForm.invalid">Selesai</button>
    </div>
</ng-container>