<ng-container *ngIf="isLoading" else #app>
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError" else #app>
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="my-3">
        <div class="fa-solid fa-users">
            <span style="margin-left: 24px;">Pengaturan Pengguna</span>
        </div>
    </div>

    <ng-container *ngIf="showSuccessMessage">
        <div class="py-2 px-4 m-4 bg-success bg-gradient text-white" style="border-radius: 8px;">{{successMessage}}</div>
    </ng-container>

    <div class="mb-4 text-align-last-right">
        <button class="btn btn-primary" (click)="openDialogAddEditUser()">Tambah Pengguna</button>
    </div>

    <div class="input-group rounded mb-4">
        <div style="width: 250px;">
            <input type="search" autocomplete="off" [(ngModel)]="searchValue" name="searchValue" class="form-control rounded" placeholder="Cari" aria-label="Cari"/>
        </div>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th style="cursor: pointer;" (click)="changeSortNama()">
                    Nama Pengguna
                    <i *ngIf="sortNama===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortNama===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortNik()">
                    NIK
                    <i *ngIf="sortNik===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortNik===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortNoTelp()">
                    No Telepon
                    <i *ngIf="sortNoTelp===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortNoTelp===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortTanggalLahir()">
                    Tanggal Lahir
                    <i *ngIf="sortTanggalLahir===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortTanggalLahir===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortAlamat()">
                    Alamat Pengguna
                    <i *ngIf="sortAlamat===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortAlamat===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortTipe()">
                    Tipe Pengguna
                    <i *ngIf="sortTipe===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortTipe===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of allUsers | filter:searchValue">
                <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-bold mb-1">{{user.namaUser}}</p>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{user.nikUser}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{user.noTeleponUser}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{user.tanggalLahirUser | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{user.alamatUser}}</p>
                </td>
                <td>
                    <ng-container *ngIf="user.tipeUser===0">
                        <span class="badge badge-success rounded-pill d-inline">Admin</span>
                    </ng-container>
                    <ng-container *ngIf="user.tipeUser===1">
                        <span class="badge badge-primary rounded-pill d-inline">Petugas</span>
                    </ng-container>
                    <ng-container *ngIf="user.tipeUser===2">
                        <span class="badge badge-warning rounded-pill d-inline">Orang Tua</span>
                    </ng-container>
                </td>
                <td class="">
                    <button type="button" 
                            class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square"
                            (click)="openDialogAddEditUser(user)">
                    </button>
                    <button type="button" 
                            class="btn btn-link btn-sm btn-rounded fa-solid fa-trash"
                            (click)="openDialogDeleteUser(user.idUser)"
                            data-mdb-target="#exampleModal"
                            data-mdb-whatever="user">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>