<div class="my-3">
    <div class="fa-solid fa-users">
        <span style="margin-left: 24px;">Pengaturan Pengguna</span>
    </div>
</div>

<table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
        <tr>
            <th>Nama Pengguna</th>
            <th>NIK</th>
            <th>No Telepon</th>
            <th>Tanggal Lahir</th>
            <th>Alamat Pengguna</th>
            <th>Tipe Pengguna</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let i of idx">
            <td>
                <div class="d-flex align-items-center">
                    <img src="https://mdbootstrap.com/img/new/avatars/8.jpg" alt="" style="width: 45px; height: 45px"
                        class="rounded-circle" />
                    <div class="ms-3">
                        <p class="fw-bold mb-1">John Doe</p>
                        <p class="text-muted mb-0">john.doe@gmail.com</p>
                    </div>
                </div>
            </td>
            <td>
                <p class="fw-normal mb-1">1234567890123456</p>
            </td>
            <td>
                <p class="fw-normal mb-1">085823485722</p>
            </td>
            <td>
                <p class="fw-normal mb-1">01/01/1990</p>
            </td>
            <td>
                <p class="fw-normal mb-1">Jalan Anggrek</p>
            </td>
            <td>
                <span class="badge badge-success rounded-pill d-inline">Admin</span>
                <span class="badge badge-primary rounded-pill d-inline">Onboarding</span>
                <span class="badge badge-warning rounded-pill d-inline">Awaiting</span>
            </td>
            <td class="">
                <button type="button" class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square">
                </button>
                <button type="button" class="btn btn-link btn-sm btn-rounded fa-solid fa-trash">
                </button>
            </td>
        </tr>
    </tbody>
</table>