<!-- <ng-container *ngIf="!isLoginPage"> -->
  <div class="container-fluid g-0" *ngIf="user" else noUser>
    <app-nav-bar
    style="background-color: rgba(var(--bs-light-rgb),var(--bs-bg-opacity))!important"
          (sideNavToggled)="sideNavStatus = $event;"
          [menuStatus]="sideNavStatus"
    ></app-nav-bar>
    <main class="px-3">
      <app-side-nav-bar (sideNavToggled)="sideNavStatus = $event" [ngClass]="{'app-side-nav-open': sideNavStatus}">
      </app-side-nav-bar>
      <router-outlet></router-outlet>
    </main>
  </div>
  <ng-container *ngIf="user===undefined">
    <app-login (userLogin)="user=$event"></app-login>
  </ng-container>
<!-- </ng-container> -->
<!-- <app-login *ngIf="isLoginPage" (toLoginPage)="isGoToLoginPage($event)"></app-login> -->