<nav class="navbar navbar-expand navbar-light bg-light px-2">

  <div class="btn btn-outline-secondary p-2 me-3" (click)="sideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="container mx-2">
    <a class="navbar-brand" href="/dashboard">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="20"
        alt=""
        loading="lazy"
      />
      PELITA
    </a>
  </div>

  
  <ul class="navbar-nav d-flex flex-row">
    <li mdbDropdown class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
      </a>
      <ul
        mdbDropdownMenu
        class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
        aria-labelledby="navbarDropdownMenuLink">
        <li><a href="#" class="dropdown-item">Sign Up</a></li>
        <li><a href="/edit-profile" class="dropdown-item">Profile</a></li>
        <li><a href="#" class="dropdown-item" (click)="logout()">Log Out</a></li>
      </ul>
    </li>
  </ul>

</nav>
