<nav class="navbar navbar-expand navbar-light bg-light px-2">

  <div class="btn btn-outline-secondary p-2 me-3" (click)="sideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="container">
    <a class="navbar-brand" href="/dashboard">
      <img
        src="https://mdbootstrap.com/img/logo/mdb-transaprent-noshadows.webp"
        height="20"
        alt=""
        loading="lazy"
      />
      PELITA
    </a>
  </div>

<!--  <div class="navbar-collapse">-->
<!--    <ul class="navbar-nav me-auto"></ul>-->
<!--  </div>-->

  <div class="dropstart">
    <i class="fa-sharp fa-regular fa-user btn btn-outline-secondary dropdown-toggle-split" data-bs-toggle="dropdown"></i>
    <ul class="dropdown-menu dropdown-menu-dark">
      <li><a href="#" class="dropdown-item">Sign Up</a></li>
      <li><a href="#" class="dropdown-item">Log In</a></li>
      <li><a href="#" class="dropdown-item">Your Profile</a></li>
      <li><a href="#" class="dropdown-item">Log Out</a></li>
    </ul>
  </div>

</nav>
