<nav class="navbar navbar-expand navbar-light bg-light px-2">

  <div class="btn btn-outline-secondary p-2 me-3" (click)="sideNavToggle()">
    <i class="fa-solid fa-bars"></i>
  </div>

  <div class="container mx-2">
    <a class="navbar-brand">
      <img
        src="assets/img/logo-1.png"
        height="40"
        width="40"
        alt=""
      />
      <img
        src="assets/img/name.png"
        height="40"
        alt=""
      />
    </a>
  </div>

  
  <ul class="navbar-nav d-flex flex-row">
    <li mdbDropdown class="nav-item dropdown">
      <a
        class="nav-link dropdown-toggle"
        id="navbarDropdownMenuLink"
        role="button"
        mdbDropdownToggle
        aria-expanded="false"
      >
        <i class="fas fa-user"></i>
      </a>
      <ul
        mdbDropdownMenu
        class="dropdown-menu dropdown-menu-end dropdown-menu-dark"
        aria-labelledby="navbarDropdownMenuLink">
        <li (click)="goToPage('/edit-profile')"><a class="dropdown-item">Profil</a></li>
        <li (click)="logout()"><a href=# class="dropdown-item">Keluar</a></li>
      </ul>
    </li>
  </ul>

</nav>
