<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
  </ng-container>
  
  <ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
  </ng-container>
  
  <ng-container *ngIf="!isLoading && !isError">
  <div class="modal-header">
      <h5 class="modal-title" id="exampleModalLabel">{{modalTitle}}</h5>
      <button
        type="button"
        class="btn-close"
        aria-label="Close"
        (click)="modalRef.close()"
      ></button>
    </div>

    <ng-container *ngIf="showErrorMessage">
      <div class="py-2 px-4 m-3 bg-danger bg-gradient text-white" style="border-radius: 8px;">{{errMessage}}</div>
    </ng-container>

    <div class="modal-body text-align-last-center">
      <form [formGroup]="validationForm">
          <div class="row">
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="nameField"
                  class="form-control"
                  formControlName="name"
                  required/>
                <label mdbLabel class="form-label" for="nameField">Nama Balita</label>
                <mdb-error *ngIf="name?.invalid && (name?.dirty || name?.touched)">
                  Nama Balita wajib diisi
                </mdb-error>
              </mdb-form-control>
            </div>
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="NIKField"
                  class="form-control"
                  formControlName="nik"
                  pattern="[0-9]+"
                  required/>
                <label mdbLabel class="form-label" for="NIKField">NIK Balita</label>
                <mdb-error *ngIf="nik?.invalid && (nik?.dirty || nik?.touched)">
                  NIK Balita wajib diisi angka
                </mdb-error>
              </mdb-form-control>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="parentNikField"
                  class="form-control"
                  formControlName="parentNik"
                  pattern="[0-9]+"
                  required/>
                <label mdbLabel class="form-label" for="parentNikField">NIK Orang Tua</label>
                <mdb-error *ngIf="parentNik?.invalid && (parentNik?.dirty || parentNik?.touched)">
                  NIK Orang Tua wajib diisi angka
                </mdb-error>
              </mdb-form-control>
            </div>
            <!-- <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="genderField"
                  class="form-control"
                  formControlName="gender"
                  required/>
                <label mdbLabel class="form-label" for="genderField">Jenis Kelamin</label>
                <mdb-error *ngIf="gender?.invalid && (gender?.dirty || gender?.touched)">
                  Jenis Kelamin wajib diisi
                </mdb-error>
              </mdb-form-control>
            </div> -->

            <div class="col-md-6 mb-32px">
              <div class="d-flex">
                <span mdbLabel class="form-label dropdown-style" for="phoneNumField">Jenis Kelamin</span>
                <select class="form-select" style="height: 2.3rem;" formControlName="gender">
                  <option value="Laki - Laki" >Laki - Laki</option>
                  <option value="Perempuan">Perempuan</option>
                </select>
              </div>
            </div>

          </div>
      
          <div class="row">
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="text"
                  id="pobField"
                  class="form-control"
                  formControlName="pob"
                  required/>
                <label mdbLabel class="form-label" for="pobField">Tempat Lahir</label>
                <mdb-error *ngIf="pob?.invalid && (pob?.dirty || pob?.touched)">
                  Tempat Lahir wajib diisi
                </mdb-error>
              </mdb-form-control>
            </div>
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="date"
                  placeholder="dd-mm-yyyy"
                  id="dobField"
                  class="form-control"
                  formControlName="dob"
                  [(ngModel)]="selectedDate"
                  required/>
                <label mdbLabel class="form-label" for="dobField">Tanggal Lahir Balita</label>
                <mdb-error *ngIf="dob?.invalid && (dob?.dirty || dob?.touched)">
                  Tanggal Lahir Balita wajib diisi
                </mdb-error>
              </mdb-form-control>
            </div>
          </div>
      
          <div class="row">
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="number"
                  id="hobField"
                  class="form-control"
                  formControlName="hob"
                  min="0"
                  required/>
                <label mdbLabel class="form-label" for="hobField">Tinggi Saat Lahir (cm)</label>
                <mdb-error *ngIf="hob?.invalid && (hob?.dirty || hob?.touched)">
                  Tinggi Saat Lahir wajib diisi angka
                </mdb-error>
              </mdb-form-control>
            </div>
  
            <div class="col-md-6 mb-32px">
              <mdb-form-control>
                <input
                  mdbValidate
                  mdbInput
                  type="number"
                  id="wobField"
                  class="form-control"
                  formControlName="wob"
                  min="0"
                  required/>
                <label mdbLabel class="form-label" for="wobField">Berat Saat Lahir (kg)</label>
                <mdb-error *ngIf="wob?.invalid && (wob?.dirty || wob?.touched)">
                    Berat Saat Lahir wajib diisi angka
                </mdb-error>
              </mdb-form-control>
            </div>
          </div>
      
        </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
        Batal
      </button>
      <button type="button" class="btn btn-primary" (click)="onSubmit()" [disabled]="validationForm.invalid">Selesai</button>
    </div>
    </ng-container>