<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="my-3">
        <div class="fa-solid fa-syringe">
            <span style="margin-left: 24px;">Imunisasi</span>
        </div>
    </div>

    <div class="mb-4 text-align-last-right">
        <button class="btn btn-primary" (click)="openDialogAddEditImunisasi()">Tambah Imunisasi</button>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Nama Balita</th>
                <th>NIK Balita</th>
                <th>Nama Orang Tua</th>
                <th>Nama Imunisasi</th>
                <th>Tanggal Imunisasi</th>
                <th>Tanggal Imunisasi Berikutnya</th>
                <th>Catatan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let imunisasi of allImunisasi">
                <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-bold mb-1">{{imunisasi.namaBalita}}</p>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.nikBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.namaOrangTua}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.namaImunisasi}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.tanggalImunisasi | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.tanggalImunisasiBerikutnya | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{imunisasi.catatan}}</p>
                </td>
                <td class="">
                    <button type="button" 
                            class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square"
                            (click)="openDialogAddEditImunisasi(imunisasi)">
                    </button>
                    <button type="button" 
                            class="btn btn-link btn-sm btn-rounded fa-solid fa-trash"
                            (click)="openDialogDeleteImunisasi(imunisasi.idImunisasi)"
                            data-mdb-target="#exampleModal"
                            data-mdb-whatever="imunisasi">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>