<div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Hapus</h5>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modalRef.close()"
    ></button>
  </div>
  <div class="modal-body text-align-last-center">Apakah anda yakin akan menghapus data?</div>
  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modalRef.close()">
      Tidak
    </button>
    <button type="button" class="btn btn-primary" (click)="modalRef.close('delete')">Hapus</button>
  </div>