<ng-container *ngIf="isLoading">
  <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="!isLoading">
  <div class="my-3">
    <div class="fa-solid fa-home">
      <span style="margin-left: 24px;">Halaman Awal</span>
    </div>
  </div>

  <h2 class="mt-4">
    Selamat Datang, {{username}}!
  </h2>

  <div style="justify-content: center; display: flex;">
    <div style="width: 60%;">
      <ng-container *ngIf="posterLen > 1">
        <mdb-carousel [controls]="true" [indicators]="true" class="my-3">
          <ng-container *ngFor="let item of posterActivity">
            <mdb-carousel-item>
              <img src="data:image/png;base64,{{item}}" class="w-100" alt="..." />
            </mdb-carousel-item>
          </ng-container>
        </mdb-carousel>
      </ng-container>

      <ng-container *ngIf="posterLen === 1">
        <img src="data:image/png;base64,{{posterActivity[0]}}" class="w-100" alt="..." />
      </ng-container>
    </div>
  </div>

</ng-container>