//@import 'variables';

html, body {
  height: 100%;
}

@import '@fortawesome/fontawesome-free/scss/fontawesome.scss';
@import '@fortawesome/fontawesome-free/scss/solid.scss';
@import '@fortawesome/fontawesome-free/scss/regular.scss';
@import '@fortawesome/fontawesome-free/scss/brands.scss';

@import 'mdb-angular-ui-kit/assets/scss/mdb.scss';


.loading-bg-size {
  width: 100%;
  height: calc(100vh - 4rem);
}