<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="my-3">
        <div class="fa-solid fa-person-skating">
            <span style="margin-left: 24px;">Kegiatan</span>
        </div>
    </div>

    <div class="mb-4 text-align-last-right">
        <button class="btn btn-primary" (click)="openDialogAddEditActivity()">Tambah Pemeriksaan</button>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th>Nama Kegiatan</th>
                <th>Penanggung Jawab</th>
                <th>Lokasi Kegiatan</th>
                <th>Tanggal Kegiatan</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let activity of allActivity">
                <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-bold mb-1">{{activity.namaKegiatan}}</p>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{activity.namaPetugas}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{activity.lokasiKegiatan}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{activity.tanggalKegiatan | date:'dd-MM-yyyy'}}</p>
                </td>
                <td class="">
                    <button type="button" class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square"
                        (click)="openDialogAddEditActivity(activity)">
                    </button>
                    <button type="button" class="btn btn-link btn-sm btn-rounded fa-solid fa-trash"
                        (click)="openDialogDeleteActivity(activity.idKegiatan)" data-mdb-target="#exampleModal"
                        data-mdb-whatever="Activity">
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</ng-container>