<ng-container *ngIf="isLoading">
    <app-loading></app-loading>
</ng-container>

<ng-container *ngIf="isError">
    <app-error-timeout></app-error-timeout>
</ng-container>

<ng-container *ngIf="!isLoading && !isError">
    <div class="my-3">
        <div class="fa-solid fa-baby">
            <span style="margin-left: 24px;">Balita</span>
        </div>
    </div>

    <ng-container *ngIf="checkAddEditAccess()">
        <ng-container *ngIf="showSuccessMessage">
            <div class="py-2 px-4 m-4 bg-success bg-gradient text-white" style="border-radius: 8px;">{{successMessage}}</div>
        </ng-container>
        <div class="mb-4 text-align-last-right">
            <button class="btn btn-primary" (click)="openDialogAddEditToddler()">Tambah Balita</button>
        </div>
    </ng-container>

    <div class="input-group rounded mb-4">
        <div style="width: 250px;">
            <input type="search" autocomplete="off" [(ngModel)]="searchValue" name="searchValue" class="form-control rounded" placeholder="Cari" aria-label="Cari"/>
        </div>
    </div>

    <table class="table align-middle mb-0 bg-white">
        <thead class="bg-light">
            <tr>
                <th style="cursor: pointer;" (click)="changeSortNamaBalita()">
                    Nama Balita
                    <i *ngIf="sortNamaBalita===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortNamaBalita===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortNikBalita()">
                    NIK Balita
                    <i *ngIf="sortNikBalita===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortNikBalita===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortJenisKelamin()">
                    Jenis Kelamin
                    <i *ngIf="sortJenisKelamin===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortJenisKelamin===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortTempatLahir()">
                    Tempat Lahir
                    <i *ngIf="sortTempatLahir===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortTempatLahir===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortTanggalLahir()">
                    Tanggal Lahir
                    <i *ngIf="sortTanggalLahir===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortTanggalLahir===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortTinggiLahir()">
                    Tinggi Lahir (cm)
                    <i *ngIf="sortTinggiLahir===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortTinggiLahir===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <th style="cursor: pointer;" (click)="changeSortBeratLahir()">
                    Berat Lahir (kg)
                    <i *ngIf="sortBeratLahir===1" class="fa-solid fa-arrow-up"></i>
                    <i *ngIf="sortBeratLahir===-1" class="fa-solid fa-arrow-down"></i>
                </th>
                <ng-container *ngIf="checkAddEditAccess()">
                    <th style="cursor: pointer;" (click)="changeSortNamaOrangTua()">
                        Nama Orang Tua
                        <i *ngIf="sortNamaOrangTua===1" class="fa-solid fa-arrow-up"></i>
                        <i *ngIf="sortNamaOrangTua===-1" class="fa-solid fa-arrow-down"></i>
                    </th>
                    <th></th>
                </ng-container>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let toddler of allToddlers | filter:searchValue">
                <td>
                    <div class="d-flex align-items-center">
                        <p class="fw-bold mb-1">{{toddler.namaBalita}}</p>
                    </div>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.nikBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.jenisKelaminBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.tempatLahirBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.tanggalLahirBalita  | date:'dd-MM-yyyy'}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.tinggiSaatLahirBalita}}</p>
                </td>
                <td>
                    <p class="fw-normal mb-1">{{toddler.beratSaatLahirBalita}}</p>
                </td>
                <ng-container *ngIf="checkAddEditAccess()">
                    <td>
                        <p class="fw-normal mb-1">{{toddler.namaOrangTua}}</p>
                    </td>
                    <td class="">
                        <button type="button" 
                                class="btn btn-link btn-sm btn-rounded fa-solid fa-pen-to-square"
                                (click)="openDialogAddEditToddler(toddler)">
                        </button>
                        <button type="button" 
                                class="btn btn-link btn-sm btn-rounded fa-solid fa-trash"
                                (click)="openDialogDeleteToddler(toddler.idBalita)"
                                data-mdb-target="#exampleModal"
                                data-mdb-whatever="toddler">
                        </button>
                    </td>
                </ng-container>
            </tr>
        </tbody>
    </table>
</ng-container>